<div class="text-layout">
    <h1> {{ nombre | uppercase  }} </h1>
    <h1> {{ valor | currency  }} </h1>
    <h1> {{ obj | json }}</h1>
    <h2>{{ obj.nombre| uppercase}}</h2>
                
</div>

<button pButton 
        type="button" 
        (click)="mostrarNombre()"
        label="Cambiar nombre"
        class="p-button-help"
        icon="pi pi-android" 
        iconPos="right"></button>  

<p-card [header]="title | titlecase"
        subheader="{{ nombre | titlecase }}">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore illum tenetur asperiores debitis? Numquam, necessitatibus iste? Harum illo voluptatum minus unde accusantium nihil eius porro maiores magni. Incidunt, voluptatem cum?
</p-card>


